body {
    font-family: 'Arial', sans-serif;
    background-color: #FFE4E1; /* misty rose */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    flex-direction: column; /* Ensures elements are stacked vertically */
}

.confirmation-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.message-box h2 {
    font-size: 36px;
    color: #ff6347;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: #555;
    margin-bottom: 15px;
}

.thank-you-image {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin: 25px 0;
}

.message-box {
    background-image: url('contact-thank-you-bg.jpg'); /* Replace with your image */
    background-size: cover; /* Ensure the image covers the entire message box */
    background-position: center; /* Center the image */
    padding: 30px;
    margin-bottom: 35px;
    border-radius: 12px;
    color: #fff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1.5s ease-in-out;
}

.message-box p {
    font-size: 18px;
    margin-top: 10px;
}

.navigation {
    text-align: center;
    padding: 15px;
    background-color: #f4f4f4;
    border-radius: 8px;
    margin-top: 20px; /* Space between the content and the button */
}

.navigation-content {
    display: inline-block;
}

.cta-link {
    font-size: 1.5em;
    color: #4F7B7E;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid #4F7B7E;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    animation: fadeIn 4s ease-in-out;
}

.cta-link:hover {
    background-color: #4F7B7E;
    color: white;
}

.cta-link:focus {
    outline: 3px solid #4F7B7E; /* Adding focus state for better accessibility */
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}
